<div class="row" style="padding-inline: 8px;">
  <div class="col-md-12">
    <h4 class="menu-bar">{{title}}</h4>
    <div class="row button-group">
      <button type="button"
              class="col-md-3  btn menu-button  button-entry"
              *ngFor="let entry of entries"
              [routerLink]="['/products']">
          {{entry.name}}
      </button>
    </div>
  </div>
</div>


<style>
  .menu-bar {
    border-radius: 5px;
    border: 2px solid #03398f;
    background-color: #03398f;
    color: #fff;
    padding: 8px;
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 8px;
  }

  .button-group {
    justify-content: safe;
  }

  .button-entry {
    margin-inline: 16px;
    margin-top: 16px;
    background-color: #03398f;
    color: #fff;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .button-entry:hover {
    color:#fff;
    font-weight: bold;
  }
</style>
