<app-common-page title="Saída"
                 header="Operações de saída de estoque">
    <app-search-component title="selecionar produto"
                          placeholder="selecionar produto"
                          notFoundMessage="produto não encontrado"
                          invalidFeedbackMessage="produto inválido">
    </app-search-component>
    <app-search-component title="selecionar local"
                          placeholder="selecionar local"
                          notFoundMessage="local não encontrado"
                          invalidFeedbackMessage="local inválido">
    </app-search-component>
    <app-search-component title="selecionar lote"
                          placeholder="selecionar lote"
                          notFoundMessage="lote não encontrado"
                          invalidFeedbackMessage="lote inválido">
    </app-search-component>
    <app-quantity-input description="inserir quantidade a ser removida"
                        invalidFeedback="quantidade inválida"
                        >
    </app-quantity-input>
    <div class="button-group button-container row">
        <button class="btn btn-success col-md-1 button-space">
          Salvar
        </button>
        <button class="btn btn-warning col-md-1 button-space">
          Limpar
        </button>
        <button class="btn btn-danger col-md-1 button-space">
          Cancelar
        </button>
    </div>
</app-common-page>

<style>
    .button-container {
      margin-bottom: 64px;
      padding: 16px;
    }
    .button-space {
      margin-right: 4px;
    }
  </style>
