<app-common-page title="Marcas"
                 header="Cadastro de Marcas">
  <div class="container">
    <div class="row">
      <p class="field-label">Nome</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input class="form-control" type="text" [(ngModel)]="name"/>
      </div>

    </div>
    <div class="row buttons">
      <div class="col-md-3">
      </div>
      <div class="col-md-1">
        <button class="btn btn-success" [disabled]="disableSave()" (click)="save()">Salvar</button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-warning" (click)="clearNameField()">Limpar</button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-danger">Cancelar</button>
      </div>
    </div>
    <div class="row">
      <p class="field-label">Marcas disponíveis</p>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands">
          <td>{{brand.id}}</td>
          <td>{{brand.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>





</app-common-page>

<style>
  .container {
    margin-left: 8px;
  }
  .field-label {
    font-weight: bold;
  }
  .buttons {
    margin-top: 8px;
    margin-right: 40px;
  }

</style>
