<div class="container">
  <div class="row">
    <div class="col-md-6 name-field">
      <p class="field-label">Consultar por nome</p>
      <input class="form-control" [placeholder]="(dataStorage !== 'movements') ?
      'Insira um nome para filtrar' : 'Insira um nome de produto para filtrar'"
      type="text" [(ngModel)]="searchTerm"
        (ngModelChange)="onChangeNameFilter()" />
    </div>
  </div>
  <div class="row">
    <p class="field-label">
      {{tableTitle | titlecase }}
    </p>
  </div>
  <table class="table bottom-fix">
    <thead>
      <tr>
        <th>Código</th>
        <th *ngIf="dataStorage !== 'movements' && dataStorage !== 'stock'">Nome</th>
        <th *ngIf="dataStorage === 'movements' || dataStorage === 'stock'">Produto</th>
        <th *ngIf="dataStorage === 'movements'">Tipo Movimento</th>
        <th *ngIf="dataStorage !== 'movements' && dataStorage !== 'stock'">Ações</th>
        <th *ngIf="dataStorage === 'movements'">Local Entrada</th>
        <th *ngIf="dataStorage === 'movements'">Local Saída</th>
        <th *ngIf="dataStorage === 'movements'">Lote</th>
        <th *ngIf="dataStorage === 'movements' || dataStorage==='stock'">Quantidade</th>
        <th *ngIf="dataStorage === 'stock'">Valor Unitário</th>
        <th *ngIf="dataStorage === 'stock'">Valor Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let object of searchableTable">
        <td>{{object.id}}</td>
        <td>{{object.name | uppercase }}</td>
        <td *ngIf="dataStorage === 'stock'" [ngClass]="{
            'entry-quantity': (getStockQuantity(object) > 0),
            'out-quantity': (getStockQuantity(object) < 0)
        }">{{ getStockQuantity(object) }}</td>
        <td *ngIf="dataStorage === 'stock'">{{ getStockUnityValue(object) | currency: 'R$ '}}</td>
        <td *ngIf="dataStorage === 'stock'" [ngClass]="{
            'entry-quantity': (getStockTotalValue(object)) > 0,
            'out-quantity': (getStockTotalValue(object)) < 0
        }">{{ getStockTotalValue(object) | currency: 'R$ '}}</td>
        <td *ngIf="dataStorage === 'movements'">{{ getMovement(object) | uppercase }}</td>
        <td *ngIf="dataStorage === 'movements'">{{ getEntryLocation(object) }}</td>
        <td *ngIf="dataStorage === 'movements'">{{ getOutLocation(object) }}</td>
        <td *ngIf="dataStorage === 'movements'">{{ getBatch(object) }}</td>
        <td *ngIf="dataStorage === 'movements' && getMovType(object) === 'E'"
            class="entry-quantity">{{ getQuantity(object) }}</td>
        <td *ngIf="dataStorage === 'movements' && getMovType(object) === 'O'"
            class="out-quantity">{{ getQuantity(object) }}</td>
        <td *ngIf="dataStorage === 'movements' && getMovType(object) === 'T'"
            class="transfer-quantity">{{ getQuantity(object) }}</td>
        <td>
          <div *ngIf="dataStorage !== 'movements' && dataStorage !== 'stock'" class="row">
            <div class="col-md-2">
              <button class="btn btn-warning" [routerLink]="'/' + dataStorage + '/' + object.id">
                Detalhes
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>


<style>
  .container {
    margin-left: 8px;
  }

  .name-field {
    margin-bottom: 32px;
  }

  .field-label {
    font-weight: bold;
  }

  .bottom-fix {
    margin-bottom: 50px;
  }

  .entry-quantity {
    color: green;
    font-weight: bold;
  }

  .out-quantity {
    color: red;
    font-weight: bold;
  }

  .transfer-quantity {
    color: blue;
    font-weight: bold;
  }
</style>
