<div class="container">
  <div class="row">
    <div class="col-md-6 name-field">
      <p class="field-label">Consultar por nome</p>
      <input class="form-control" placeholder="Insira um nome para filtrar" type="text" [(ngModel)]="searchTerm"
        (ngModelChange)="onChangeNameFilter()" />
    </div>
  </div>
  <div class="row">
    <p class="field-label">
      {{tableTitle}}
    </p>
  </div>
  <table class="table bottom-fix">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let object of searchableTable">
        <td>{{object.id}}</td>
        <td>{{object.name}}</td>
        <td>
          <div class="row">
            <div class="col-md-2">
              <button class="btn btn-warning" [routerLink]="'/' + dataStorage + '/' + object.id">
                Detalhes
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  .container {
    margin-left: 8px;
  }

  .name-field {
    margin-bottom: 32px;
  }

  .field-label {
    font-weight: bold;
  }

  .bottom-fix {
    margin-bottom: 50px;
  }
</style>
